@mixin breakpoint($class)
      @if $class == sm
            @media (min-width: $breakpoint-sm)
                  @content
      @if $class == md
            @media (min-width: $breakpoint-md)
                  @content
      @if $class == lg
            @media (min-width: $breakpoint-lg)
                  @content


// STACKING

@mixin stack($bp)
      @if $bp == sm
            @include breakpoint($bp)
                  display: flex
                  > section
                        flex: 1


// POWER FUNCTION

@function pow($number, $exponent)
      $value: 1;

      @if $exponent > 0
            @for $i from 1 through $exponent
                  $value: $value * $number;

      @return $value;