.loose,
.confined
    overflow: auto
    display: block

    @include breakpoint(sm)

    
// Free Container - Vertical Section Padding
.loose
    width: auto


.confined
    @extend .align-center
    max-width: $breakpoint-lg
    padding-top: $section-y-padding*.5
    padding-bottom: $section-y-padding*.5
    padding-left: $section-x-padding*.5
    padding-right: $section-x-padding*.5

    @include breakpoint(lg)
        padding-top: $section-y-padding
        padding-bottom: $section-y-padding
        padding-left: 0
        padding-right: 0


.flexy
    display: flex
    flex-flow: row nowrap
    
    > section
        flex: 1
        margin: $gutter-half $gutter-half
        padding: $col-padding
        box-sizing: border-box

        &.nopadding
            padding: 0
        
        &[data-flexratio="2"]
            flex: 2
        
        &[data-flexratio="3"]
            flex: 3
        
        &[data-flexratio="4"]
            flex: 4



.flexy
    img
        max-width: 100%
        display: block

// STACKING, breakpoin and below

.stack-xs,
.stack-sm,
.stack-md
  display: block

.stack-xs
  @include stack(sm)

.stack-sm
  @include stack(md)

.stack-md
  @include stack(lg)


.align-center
    margin-left: auto
    margin-right: auto



.bg-black
    background: $color-black

.bg-blue
    background: $color-blue

.bg-red
    background: $color-red

.bg-green
    background: $color-green

.bg-orange
    background: $color-orange

.c
    color: $color-black




.breakpoint
    position: fixed
    bottom: 1rem
    left: 1rem

.breakpoint:after
    display: block
    padding: .4rem .8rem
    font-size: 1rem
    text-align: center
    color: $color-white
    border-radius: $global-corner-radius
    content: 'Extra Small'
    background-color: rgba($color-red,.6)

    @include breakpoint(sm)
        content: 'Small'
        background-color: rgba($color-orange,.6)

    @include breakpoint(md)
        content: 'Medium'
        background-color: rgba($color-blue,.6)

    @include breakpoint(lg)
        content: 'Large'
        background-color: rgba($color-turquoise,.6)
